<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="../../static/img/apple-icon.png" />
    <link rel="icon" type="image/png" href="../../static/img/favicon.png" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>ECTE350 Team 2</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

    <script src="{{ url_for('static', filename='js/jquery.min.js') }}" rel="script"></script>
    <!-- Bootstrap core CSS     -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" />

    <!--  Material Dashboard CSS    -->
    <link href="{{ url_for('static', filename='css/material-dashboard.css') }}" rel="stylesheet"/>

    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="{{ url_for('static', filename='css/demo.css') }}" rel="stylesheet" />
    <script src="{{ url_for('static', filename='js/responsivevoice.js') }}" rel="script"></script>
    <script src="{{ url_for('static', filename='js/AJAX.js') }}" rel="script"></script>
    <script src="{{ url_for('static', filename='js/FrontAreas.js') }}" rel="script"></script>
    <script src="{{ url_for('static', filename='js/CommonAreas.js') }}" rel="script"></script>
    <script src="{{ url_for('static', filename='js/Bedrooms.js') }}" rel="script"></script>
    <script src="{{ url_for('static', filename='js/arduinoComms.js') }}" rel="script"></script>
    <script src="{{ url_for('static', filename='js/reminders.js') }}" rel="script"></script>



    <!--   Core JS Files   -->
    <script src="{{ url_for('static', filename='js/jquery-3.1.0.min.js') }}" rel="script"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}" rel="script"></script>
    <script src="{{ url_for('static', filename='js/material.min.js') }}" rel="script"></script>

    <!--  Notifications Plugin    -->
    <script src="{{ url_for('static', filename='js/bootstrap-notify.js') }}" rel="script"></script>

    <!-- Material Dashboard javascript methods -->
    <script src="{{ url_for('static', filename='js/material-dashboard.js') }}" rel="script"></script>

    <!-- Angular CDN Imports -->
    <script src="{{ url_for('static', filename='js/angular.min.js') }}" rel="script"></script>
    <script src="{{ url_for('static', filename='js/angular-route.js') }}" rel="script"></script>
    <!--     Fonts and icons     -->
    <link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/jquery.fancybox.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/fonts.css') }}" rel="stylesheet" />
    <script src="{{ url_for('static', filename='js/jquery.fancybox.js') }}" rel="script"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function setActive() {
            var active = document.getElementById("{{active|safe}}");
            active.className = "active";
        });
        var autoLighting = true;
    </script>
</head>

<body>

    <div class="wrapper">
        <div class="sidebar" data-color="purple" data-image="{{ url_for('static', filename='img/sidebar-1.jpg') }}">

            <div class="logo">
                <p class="simple-text">
                    ECTE350 Team 2
                </p>
            </div>
            <div class="sidebar-wrapper">
                <ul class="nav">
                    <li id="dashboard">
                        <a href="index">
                            <i class="material-icons">dashboard</i>
                            <p>Dashboard</p>
                        </a>
                    </li>
                    <li id = "rooms">
                        <a href="rooms">
                            <i class="material-icons">lock</i>
                            <p>Security</p>
                        </a>
                    </li>
                    <li id="lighting">
                        <a href="lighting">
                            <i class="material-icons">lightbulb_outline</i>
                            <p>Lighting</p>
                        </a>
                    </li>
                    <li id="messaging">
                        <script>
                            function changeLevel() {
                                var password = "test"
                                while (password != "" && password != null) {
                                    password = prompt("Please enter the password:");
                                    if (password === "1234") {
                                        level = prompt("Please enter care level");
                                        if (password == "" || password == null)
                                        {
                                            level = 4;
                                        }
                                        break;
                                    }
                                }
                            }
                        </script>
                        <a onclick=changeLevel()>
                            <i class="material-icons">group</i>
                            <p>Level</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="main-panel">
            <nav class="navbar navbar-transparent navbar-absolute">
                {% block navbar %}{% endblock %}
            </nav>
            {% block content %}{% endblock %}
            <footer class="footer">
                <div class="container-fluid">
                    <nav class="pull-left">
                        <ul>
                            <li>
                                <a href="#">
                                    Home
                                </a>
                            </li>

                        </ul>
                    </nav>
                    <p class="copyright pull-right">
                        &copy; <script>document.write(new Date().getFullYear())</script> ECTE350 Team 2 Smart & Secure Automated Systems
                    </p>
                </div>
            </footer>
        </div>
    </div>


</body>

</html>
